@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.presentacionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100vh;
}

.presentacionText {
    width: 50vw;
    text-align: justify;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.presentacionPhoto {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    background: radial-gradient(circle,
            rgb(0, 85, 102) 0%,
            rgb(0, 0, 0) 72%,
            rgba(0, 0, 0, 1) 100%);
    opacity: 1;
/*     box-shadow: 0px 0px 900px 1px rgb(45 0 255 / 27%); */
}

.presentacionPhotoName{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 213, 255);
}

.presentacionPhotoContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.presentacionName {
    font-family: "Press Start 2P", serif;
    font-weight: bold;
    color: rgb(0, 213, 255);
}

.presentacionInfo {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
}

.presentacionTextContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.presentacionLocation {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.presentacionLocationIcon{
    color: rgb(255, 0, 0);
    font-size: 25px;
}
.presentacionBtns {
    display: flex;
    justify-content: end;
    gap: 5px;
    align-items: center;
}

.presentacionBtns a {
    font-size: 30px;
}

.linkedin {
    color: #0a66c2;
    display: inline-block;
}

.linkedin:hover {
    color: #0a66c2;
    transform: scale(1.1);
}

.github {
    color: #fff;
    display: inline-block;
}

.github:hover {
    color: #fff;
    transform: scale(1.1);
}

.presentacionBtns .cv{
    display: flex;
    color: #fff;
    border: #0a66c2 solid 2px;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 10px;
    height: 30px;
    margin-bottom: 5px;
    gap: 5px;
}

.cv:hover {
    background-color: #0a66c2;
    transform: scale(1.1);
}

.cvIcon {
    height: 26px;
}

.email {
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 30px;
    width: 240px;
    margin-bottom: 5px;
    border: #0a66c2 solid 2px;
    border-radius: 5px;
    gap: 5px;
    color: rgb(255, 255, 255);
}
.email:focus{
    outline: none;
}

.email:hover {
    background-color: #0a66c2;
    transform: scale(1.03);
}