@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  font-family: "Bebas Neue", serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  justify-self: start;
  color: rgb(0, 213, 255);
  padding: 50px 50px 0 50px;
}








