:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(18 18 18);
  padding: 0;
}

a {
  text-decoration: inherit;
}

html {
  scroll-behavior: smooth;
}











