
.educacion-container{
    width: 65vw;
    margin: 0 auto;
    background-color: #242424;
    border: 1px solid rgba(0, 213, 255, 0.322);
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 300px;
}

.educacion-line{
    border: 1px solid rgba(0, 213, 255, 0.322);
    width: 1px;
}
.educacion-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    text-align: left;
    padding: 50px 50px 50px 50px;
    color: rgb(255, 255, 255);
}

.educacion-card-licenciatura{
    width: 100%;
}

.educacion-card-certificacion{
    width: 100%;
}


.educacion-cards h3{
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 1.4rem;
    font-weight: bolder;
}

.educacion-cards h3::after{
    content: '';
    position: absolute;
    border: 1px solid rgba(0, 213, 255, 0.322);
    left: 0;
    bottom: 0;
    width: 100%;
}

.educacion-card-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.educacion-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.educacion-card-botones{
    display: flex;
    gap: 5px;
}
.educacion-card-ver, .educacion-card-descargar{
    background-color: #0a66c2;
    align-content: center;
    color: #fff;
    padding: 0px 20px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.educacion-card-descargar{
    padding: 0px 5px;
}


@media (max-width: 1024px){
    .educacion-container{
        width: 90vw;
    }
}

@media (max-width: 715px){
    .educacion-cards{
        flex-direction: column;
    }
    .educacion-line{
        display: none;
    }
}